.jumbotronRegister {
  background-image: url(../../Images/DWP.jpeg);
  height: 275px;
  background-position: center;
  display: block;
}

h1 {
  text-align: center;
  padding-top: 50px;
  font-size: 50px;
  color: #fff;
}

.containerRegister {
  padding-left: 200px;
  padding-right: 200px;
}

// .form {
//   border: ;
// }

// .buttonRegister {
//   display: flex;
//   justify-content: flex-end;
// }
