.jumbotronDonate {
  background-image: url("../../Images/concert1.jpg");
  background-size: cover;
  background-position: center;
  display: block;
}

h1 {
  text-align: center;
  padding-top: 30px;
  font-size: 50px;
  color: #fff;
}

.containerDonate {
  padding-left: 200px;
  padding-right: 200px;
}

.darkenImage {
  // display: inline-block;
  color: white;
  position: relative;
}

.darkenImage:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.2s linear;
}

.darkenImage h1 {
  position: relative;
}
