.icon-sosmed {
  color: black;
  margin: 5px;
}
.navbarheader {
  height: 45px;
  color: black;
  background-color: rgb(231, 231, 231);
}

.navbarheader a:hover {
  font-weight: bold;
  text-decoration: none;
}
.right-icon {
  margin: 30px;
}
.text {
  margin: 5px;
}

.text-donasi {
  padding-right: 40px;
  margin: 5px;
}

footer {
  padding: 15px;
  color: white;
  background-color: rgb(43, 45, 59);
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.icon {
  height: 100px;
  width: 100px;
  color: #2ecc71;
  margin-bottom: 10px;
}

.card-category {
  height: 200px;
  width: 200px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  text-align: center;
}

.card-category :hover {
  background-color: #2ecc71;
  animation: f;
}
.card-category :hover .icon {
  color: white;
}

.card-category :hover .text {
  color: white;
  text-decoration: none;
}

.text {
  color: black;
}

.container-category {
  height: 200px;
  position: relative;
  text-align: center;
}
.judul {
  margin-top: 20px;
}

.text-title {
  font-weight: bolder;
  color: black;
}

.row-category {
  justify-content: center;
  margin-top: -140px;
}

.center {
  justify-content: center;
  float: center;
}

.navbar-nav {
  font-size: 20px;
}

.link-category {
  color: black;
}

.caption-carousel {
  text-align: left;
}
.title-carousel {
  font-size: 95px;
  font-weight: bold;
  margin-top: -400px;
  text-align: left;
}

.deskripsi-carousel {
  font-size: 30px;
}

.title-description {
  color: #777777;
  text-align: center;
}

.card-deck {
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
}

.button-charity {
  text-align: center;
  float:center;
}

.profile-pic {
  width: 40%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
}

.total-project {
 background-color: brown;
   margin-top: 30px;
 
 }