/* Styling Navbar */

.icon-sosmed {
  color: black;
  margin: 5px;
}
.navbarheader {
  height: 45px;
  color: black;
  background-color: rgb(231, 231, 231);
  
}

.navbarheader a:hover{
  font-weight: bold;
  text-decoration: none;
}
.right-icon{
  margin: 30px;
}
.text {
  margin: 5px;
}


footer {
  padding: 15px;
  color: white;
  background-color:  rgb(43, 45, 59);
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

